%table.table
  %thead
    %tr 
      %th Rank
      %th Library
      %th Tweet count
  %tbody
    - Library.rank_by_tweets.each_with_index do |(name, tweets), index|
      %tr
        %td= index + 1
        %td
          = link_to name, "https://twitter.com/#!/#{name}", :target => "_blank"
        %td= tweets